In [1]:
#Display a data
print("Ezio Auditore")

Ezio Auditore

In [2]:
#To format a output
print("Tommy",11+12)

Tommy 23

In [34]:
#10 denotes the spacing in the o/p
print("%10s%10.3f%10d"%("Ford",3.141,1729))

      Ford     3.141      1729

In [39]:
#Assigning variables and their types
a=23
print(a)
print(type(a))

z="Aiden"
print(z)
print(type(z))

y=2.0000003
print("%10.10f"%y)
print(type(y))

r=2+3j
print(r)
print(type(r))

u=True
print(u)
print(type(u))

23
<class 'int'>
Aiden
<class 'str'>
2.0000003000
<class 'float'>
(2+3j)
<class 'complex'>
True
<class 'bool'>

In [13]:
#conversion ASCII and char
print(ord("B"))
print(chr(90))

66
Z

In [3]:
#Runtime input using int(input()) and input()
x=int(input("Assign the value for x::"))
y=int(input("Assign the value for y::"))
z=x**y
print(x,y)
print("The result is =",z)

Assign the value for x::4
Assign the value for y::5
4 5
The result is = 1024

In [6]:
a=input("Enter a::")
b=input("Enter b::")
c=a+b
print(a,b)
print("the result is =",c)

Enter a::3
Enter b::4
3 4
the result is = 34

In [23]:
#Using arithmetic operators
x=23
y=32
print("x = 23")
print("y = 32")
print(x+y,(x-y),y*x,y**x,y/x,y%x)

x = 23
y = 32
55 -9 736 41538374868278621028243970633760768 1.391304347826087 9

In [57]:
#Using relation operators
c=45
d=56
print("Equal::",c==d)
print("Greater than::",(c>d))
print("Lesser than::",(c<=d))
print("Greater than or equal to::",(c>=d))
print("Not equal::",(c!=d))

Equal:: False
Greater than:: False
Lesser than:: True
Greater than or equal to:: False
Not equal:: True

In [42]:
#Using logical operators
a=3
b=4
print((a==b) and(a>=b))
print((a==b) or (a<=b))
print(not(a>=b))

False
True
True

In [56]:
#Using Assignment operators
h=5
h+=h
print("The 1st ans::",h)
h-=h
print("The 2nd ans::",h)
h*=h
print("The 3rd ans::",h)
h**=h
print("The 4th ans::",h)

The 1st ans:: 10
The 2nd ans:: 0
The 3rd ans:: 0
The 4th ans:: 1